*
{
	margin: auto;
}
body
{
	background:  url(img/imgbg.jpg);  
	background-size: cover;
	font-family: sans-serif;
}


header 
{
	background: #44a7e9;
	height: 20px;
    width: 70%;
    margin-left: 14%;
    margin-top: 2%;
	letter-spacing: 1px;
	margin-bottom: 1%;
	padding: 3%;
	padding-left: 2%;
	padding-top: 1.5%;
	font-size: 25px;
	border-radius: 52px;
	cursor: pointer;
	
}	



header h1 {
	margin-left: 8%;
	color: black;

}
.titre1 
{
	color: white;
	text-decoration: 0;
	padding-left: 25%;
	padding-top: 40%;
}

header a
{
	text-decoration: none;
}




.login
{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 35%;
	height: 62%;
	padding: 10px;
	background: rgba(0,0,0,.8);
	box-sizing: border-box;
	box-shadow: 0 15% 40% rgba(0,0,0,.5);
	border-radius: 20px;
}
.login h2
{
	text-align: center;
	color: white;
	padding: 0 0;
	margin: 0 0 30px;
	padding-top: 12px;
	
}
.login .inputlogin
{
	position: relative;
}
.login .inputlogin input
{
	width: 70%;
	border: none;
	outline: none;
	background: transparent;
	top: 0;
	left: 0;
	margin-left: 12%;
	letter-spacing: 1px;
	margin-bottom: 35px;
	padding: 15px 0;
	font-size: 88%;
	font-family: sans-serif;
	color: white;
	border-bottom: 1px solid rgb(53, 182, 221);
}
.login .inputlogin label
{
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	padding: 10px 0 ;
	font-size: 15px;
	pointer-events: none;
	transition: .7s;
	padding-left: 12.5%;

}
.login .inputlogin input:focus ~ label,
.login .inputlogin input:valid ~ label
{
	top: -18px;
	left: 0;
	color: #37b0e9;
	font-size: 13px;

}


.login form h6 a
{
	font-size: 10.4px;
	text-decoration: none;
	
}

.login  input[type="submit"]
{
	border: none;
	font-size: 88%;
	margin-left: 12%;
	outline: none;
	color: black;
	background: #44a7e9;
	padding: 10px 20px ;
	cursor: pointer;
	border-radius: 42px;
	font-size: 15px;

}

.login a
{
	text-decoration: 0;
	margin-left: 12%;
	color: white;
}
.login h6 a:hover
{
	text-decoration: underline;
	
}
